<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'LORE_LEGACY.Property.CapacitesSec'}}</div>
  </li>
  {{#each capsecs as |capsec id|}}
    <li class='item flexrow' data-item-id='{{capsec._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item' data-label="{{capsec.name}}">
            <img
              src='{{capsec.img}}'
              title='{{capsec.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{capsec.name}}</h4>
      </div>

      <div class='resource capsecedit'>
        <a
          class='item-edit'
          title='{{localize "DOCUMENT.Edit" type='skill'}}'
        >
          <h4>{{capsec.system.capsecLevel}}</h4>
        </a>
      </div>
    </li>
  {{/each}}
</ol>